<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.delineneo"/>

    <mvc:annotation-driven/>
    <mvc:view-controller path="/" view-name="index"/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <bean id="methodValidator" class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!-- Old non-annotated style controllers -->

    <bean id="oldStyleAddPlayerController" class="com.delineneo.web.controller.old.AddPlayerController">
        <property name="formView" value="addPlayer"/>
        <property name="successView" value="redirect:/oldstyle/player"/>
        <property name="validator" ref="validator"/>
    </bean>

    <bean id="oldStyleViewPlayerController" class="com.delineneo.web.controller.old.ViewPlayerController"/>

    <bean id="oldStyleViewAllPlayersController" class="com.delineneo.web.controller.old.ViewAllPlayersController"/>

    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/oldstyle/player/add">oldStyleAddPlayerController</prop>
                <prop key="/oldstyle/player">oldStyleViewPlayerController</prop>
                <prop key="/oldstyle/player/all">oldStyleViewAllPlayersController</prop>
            </props>
        </property>
    </bean>
</beans>